.footer-container {
    /* background-image: url('../../../images/soafa/soafa\ \(9\).jpg'); */
    height: auto;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.footer-text-container {
    background: #a9d6e5;
    /* opacity: .7; */
}

.contact-info {
    line-height: 1px;
}