.section-first-image{
    background-image: url('../../../images/soafa/soafa\ \(5\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-second-image{
    background-image: url('../../../images/soafa/soafa\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-bcg{
    background: black;
    color: white;
    opacity: 0.5;
    height: 350px;
}
.text-align{
    margin-left: 40px;
    padding: 40px;
}