.section-first-image {
    background-image: url('../../../images/bed/bed\ \(10\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.section-second-image {
    background-image: url('../../../images/soafa/soafa\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.text-align {
    margin-left: 40px;
    padding: 40px;
}

.furniture-sec {
    margin: 7rem .5rem;
}