.category-container {
  margin: 5rem 0rem;

}

.div-container {
  /* background: black; */
  opacity: 0.9;
  height: auto;
  padding-bottom: 10px;
}

.btn-hover-style {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-hover-style:hover {

  outline: white;
}

.activeItem {
  /* text-decoration: underline; */
  background: #a9d6e5;
  padding: 5px 20px;
  border-radius: 5px;
}