.category-container{
    background-image: url('../../../images/soafa/soafa\ \(9\).jpg');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.div-container{
    background: black;
    opacity: 0.9;
    height: auto;
    padding-bottom: 10px;
}

.btn-hover-style{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.btn-hover-style:hover{
  
  border: 1px solid red;
  outline: white;
}
  
  
 
